pre {
    margin: 0;
    padding: 1rem;
    background: #f0f0f0;
    white-space: pre-wrap;
    height: 15rem;
}
button {
    cursor: pointer;
}

.search-result {
    margin: .5rem 0;
    display: flex;
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img {
        max-width: 64px;
        margin-right: .75rem;
        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
}