pre {
    margin: 0;
    padding: 1rem;
    background: #f0f0f0;
    white-space: pre-wrap;
    height: 15rem;
}
button {
    cursor: pointer;
}
img {
    max-width: 100%;
    max-height: 100%;
}

#user {
    display: flex;
    .img {
        width: 50px;
        img {
            max-width: 100%;
            padding-right: .5rem;
        }
    }
    .card-body {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h6 {
            margin-bottom: 0;
            font-size: 1.1rem;
        }
    }
    .badge {
        font-size: 1rem;
    }
}

.recently-added {
    img {

    }
}

.search-result, {
    margin: .5rem 0;
    display: flex;
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img {
        max-width: 64px;
        margin-right: .75rem;
        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
}

.link-card {
    background: #fff;
    .card-images {
        display: flex;
        img {
            opacity: 0;
            transition: opacity .2s;
        }
    }
    .tags {
        margin: .5rem 0;
        .tag {
            display: inline-block;
            font-size: .8rem;
            color: #666;
            padding: .3rem .5rem;
            border-radius: 3px;
            border: 1px solid #ccc;
        }
    }
}

.now-playing {
    align-items: center;
}