pre {
    margin: 0;
    padding: 1rem;
    background: #f0f0f0;
    white-space: pre-wrap;
    height: 15rem;
}
button {
    cursor: pointer;
}

song.search-result {
    margin: .5rem 0;
    display: flex;
    .card-body {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}