<song class="search-result" data-spotify-id="{{song.id}}">
    <div class="img">
        <img height="64" class="card-img-left" src="{{song.album.images.2.url}}">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{song.name}}</h5>
        <h6 class="card-subtitle text-muted">{{song.artists.0.name}}</h6>
    </div>
</song>