<div id="{{{nowPlaying.item.uri}}}" class="now-playing my-3 d-flex">
    <img src="{{{nowPlaying.item.album.images.2.url}}}" class="pr-2">
    <div class="text">
        <h5>{{{nowPlaying.item.name}}}</h5>
        <h6 class="text-muted mb-0">{{{nowPlaying.item.artists.0.name}}}</h6>
    </div>
</div>