<li id="{{{nowPlaying.item.uri}}}" class="now-playing collection-item">
    <div class="img">
        <img src="{{{nowPlaying.item.album.images.2.url}}}">
    </div>
    <div class="info">
        <h5>{{{nowPlaying.item.name}}}</h5>
        <h6>{{{nowPlaying.item.artists.0.name}}}</h6>
    </div>
</li>