<div id="{{{nowPlaying.item.uri}}}" class="now-playing">
    <img src="{{{nowPlaying.item.album.images.2.url}}}">
    <div class="text">
        <h5>{{{nowPlaying.item.name}}}</h5>
        <h6>{{{nowPlaying.item.artists.0.name}}}</h6>
    </div>
</div>