<div class="link-card col-6 col-md-4">
    <div class="card-images">
        <img class="media" src="{{{link.media.image}}}">
        <img class="music" src="{{{link.music.album_cover}}}">
    </div>
    <div class="tags">
        {{#each tags}}
            #{{this}}
        {{/each}}
    </div>
</div>