<div class="link-card col-6 col-md-4">
    <div class="card-images">
        <div class="media">
            <img src="{{{link.media.image}}}">
        </div>
        <div class="music">
            <img src="{{{link.music.album_cover}}}">
        </div>
    </div>
    <div class="tags">
        {{#each tags}}
            #{{this}}
        {{/each}}
    </div>
</div>