<div id="user" data-uri="{{{user.uri}}}">
    <div class="img">
        <img src="{{user.images.0.url}}">
    </div>
    <div class="info">
        <h5>{{user.id}}</h5>
        <span data-badge-caption="followers" class="new badge green">{{user.followers.total}}</span>
    </div>
</div>