<div id="user" class="mb-4" data-uri="{{{user.uri}}}">
    <div class="img">
        <img src="{{user.images.0.url}}">
    </div>
    <div class="card-body">
        <h6>
            {{user.id}}
            <span class="badge badge-success">{{user.followers.total}}</span>
        </h6>
    </div>
</div>